{% extends 'CSC-394-Capstone-Website/base.html' %}
{% load static %}

{% block title %} Index Page {% endblock %}
{% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 pb-4">
      <h1 class="display-4 font-weight-bold">CSC394 Blue Group</h1>
      <h5>Project Homepage</h5>
      <div class = "row">
      <a class="btn btn-primary mt-2">{% include "CSC-394-Capstone-Website/modal/modalBase.html" %}</a>
	<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    	Collapsable Elemeb nt
  	</a>
	</div>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>





{% endblock content %}

