<!--users/templates/users/dashboard.html-->

{% extends 'CSC-394-Capstone-Website/base.html' %}
{% load static %}
{% block body %}
{% block content %}
Hello, {{ user.username|default:'Guest' }}!

<b>
Note that this will be a dashboard of the user's general profile
{% include "CSC-394-Capstone-Website/modal/modalBase.html" %}

<div class="container-fluid">

    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}    
    {{ form.as_p }}
     <input type="submit" value="Save" class="btn btn-md btn-secondary">         
</form>
</div>


{% endblock %}
{% endblock %}

