{% extends 'CSC-394-Capstone-Website/base.html' %}
{% load static %}
{% block title %} Recipes searcher {% endblock %}
{% include "CSC-394-Capstone-Website/modal/modalBase.html" %}
{% block content %}
<style>
    a, a:hover {
      color: #959497; 
    }
    h6{
        text-align:right; 
    }
  </style>
<h6> <a href="/search">Return to Search Page</a></h6>
<h2> Recipe results:</h2>


<div style="margin-left:10%;">
  <ul class="list-unstyled">
      {% for recipe in results %}
          <li class="media">
              <img src="{{recipe.image}}" class="align-self-center mr-3" alt="..." width="15%" height="15%">
              <div class="media-body">
                  <h5 class="mt-0 mb-1"><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></h5>

              </div>
          </li> <br>
      {% endfor %}
  </ul>
</div >
{% endblock content %}