/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

ul li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: inline;
  position: relative;
}



ul li:hover {
  background-color: #eee;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 2px 6px;
  transform: translate(0%, -100%);
}

.close:hover {background: #bbb;}



/* Applies to all elements with <... class="someclass"> specified. */
.someclass { color: red; }

/* Applies to the element with <... id="someid"> specified. */
#someid { color: green; }

/* Applies to the <div id="imageExample"> element from the example in the HTML section. */
div#imageExample { float: right; }